:root {
  --color-white: #fff;
  --color-black: #000;
  --color-base: #54616C;
  --color-link: #934D98;
  --color-link-hover: #6E7DBC;

  --color-primary: #934D98;
  --color-primary-hover: #5692CE;

  --color-secondary: #6E7DBC;
  --color-secondary-hover: #62BAEA;

  --bgColor-footer: #F1F3F9;

  --color-input: rgb(83 93 106 / 50%);

  /* Font/text values */
  --font-family-base: 'Poppins', sans-serif;
  --font-family-title: 'Playfair Display', serif;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

/*** Common ***/
body {
  font-family: $font-family-base;
  font-size: #{$font-size-base}px;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  background-color: $whiteColor;
  color: $baseColor;
}

b,
strong {
  font-weight: $font-weight-bold;
}

img,
video {
  height: auto;
  max-width: 100%;
}

.bg-image {
  @include bg-image;
}

/*** Links ***/
a {
  color: var($linkColor);
  text-decoration: none;
  @include transitionTime(0.4s)
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
  text-decoration: underline;
}

/*** Button Primary ***/
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  font-family: $font-family-base;
  @include fontSize(pxToEm(14), $font-weight-bold);
  line-height: 17px;
  color: $whiteColor;
  padding: 11px 16px;
  border: none;
  @include radius(23px);
  @include transitionTime(0.4s);
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: $primaryColor;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: $primaryHoverColor;
  text-decoration: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  // background-color: $color-c2c7cb;
  color: $whiteColor;
  opacity: 1;
}

/*** Button Secondary ***/
.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondaryColor;
  font-family: $font-family-base;
  @include fontSize(pxToEm(14), $font-weight-bold);
  line-height: 17px;
  color: $whiteColor;
  padding: 11px 16px;
  border: none;
  @include radius(23px);
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  background-color: $secondaryColor;
  box-shadow: none;
}

.btn-secondary:hover {
  background-color: $secondaryHoverColor;
  text-decoration: none;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  // background-color: $color-c2c7cb;
  color: $whiteColor;
  opacity: 1;
}

/* Swpier */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: none;
  width: 62.91px;
  height: 125.06px;

  .icon-right {
    padding: 26px;
    border: solid $blackColor;
    border-width: 0 2px 2px 0;
    margin-right: 16%;
  }

  .icon-left {
    padding: 26px;
    border: solid $blackColor;
    border-width: 2px 0 0 2px;
    margin-right: 16%;
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.26;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 0
}

.swiper-pagination-bullet {
  width: 32px;
  height: 4px;
  display: inline-block;
  border-radius: 16px;
  background-color: $blackColor;
  opacity: .26;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: $blackColor;
}