@function pxToEm($size) {
  $emSize: $size / $font-size-base;
  @return #{$emSize}em;
}

@function pxToRem($size) {
  $remSize: $size / $font-size-base;
  @return #{$remSize}rem;
}

@function pxToVH($size) {
  $vh: ($viewPort * 0.01);
  @return ($size / $vh) * 1vh;
}

@function pxToVW($size) {
  $vw: ($viewPort * 0.01);
  @return ($size / $vw) * 1vw;
}