@mixin position ($p: absolute,
  $t: null,
  $b: null,
  $l: null,
  $r: null) {
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}

@mixin fontSize ($fs: null, $fw: null) {
  font-size: $fs;
  font-weight: $fw;
}

@mixin flexStartCenter() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexAllCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterEnd() {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flexBetweenCenter() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexBetweenTop() {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flexEndCenter() {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexCenterTop() {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexAllEnd() {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@mixin flexColLeft() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flexColCenter() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColAllCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColCenterEnd() {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexColRighr() {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@mixin margin ($mt: null,
  $mb: null,
  $ml: null,
  $mr: null) {
  margin-top: $mt;
  margin-bottom: $mb;
  margin-left: $ml;
  margin-right: $mr;
}

@mixin padding ($pt: null,
  $pb: null,
  $pl: null,
  $pr: null) {
  padding-top: $pt;
  padding-bottom: $pb;
  padding-left: $pl;
  padding-right: $pr;
}

@mixin clearBoth () {
  content: "";
  display: block;
  clear: both;
}

@mixin background ($imgpath, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

@mixin bg-image () {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin image-object-fit ($object) {
  width: 100%;
  height: 100%;
  object-fit: $object
}

@mixin sources {
  text-align: right;
  color: #a9a9a9;

  font: {
    size: 15px;
  }
}

@mixin boxShadow($top, $left, $blur, $color, $inset: '') {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

@mixin border($width, $style, $color, $direction: false) {
  @if $direction {
    border-#{$direction}: $width $style $color;
  }

  @else {
    border: $width $style $color;
  }
}

@mixin transformRotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transitionTime($time) {
  -webkit-transition: ease $time all;
  -moz-transition: ease $time all;
  -o-transition: ease $time all;
  transition: ease $time all;
}

@mixin transform-style($style) {
  transform-style: $style;
  -moz-transform-style: $style;
  -o-transform-style: $style;
  -ms-transform-style: $style;
  -webkit-transform-style: $style;
}

@mixin transform-translate($x, $y) {
  transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
}

@mixin transform-translateX($x) {
  transform: translateX($x);
  -moz-transform: translateX($x);
  -o-transform: translateX($x);
  -ms-transform: translateX($x);
  -webkit-transform: translateX($x);
}

@mixin transform-translateY($y) {
  transform: translateY($y);
  -moz-transform: translateY($y);
  -o-transform: translateY($y);
  -ms-transform: translateY($y);
  -webkit-transform: translateY($y);
}

@mixin radius($style) {
  border-radius: $style;
  -webkit-border-radius: $style;
  -moz-border-radius: $style;
  -o-border-radius: $style;
}

@mixin breakpoint($point) {

  @if ($point==lgmax) {
    @media (max-width: 1536px) {
      @content;
    }
  }

  @else if ($point==mdmax) {
    @media (max-width: 1366px) {
      @content;
    }
  }

  @else if ($point==mdmin) {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if ($point==smmax) {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if ($point==smmin) {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if ($point==xsmax) {
    @media (max-width: 991px) {
      @content;
    }
  }

  @else if ($point==xsmin) {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if($point==ipadpro) {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if($point==ipad) {
    @media (max-width: 768px) {
      @content;
    }
  }

  @else if($point==surface) {
    @media (max-width: 540px) {
      @content;
    }
  }

  @else if($point==lgmobile) {
    @media (max-width: 414px) {
      @content;
    }
  }

  @else if($point==smmobile) {
    @media (max-width: 375px) {
      @content;
    }
  }

  @else if($point==xsmobile) {
    @media (max-width: 320px) {
      @content;
    }
  }
}
