@include breakpoint(ipadpro) {

  /*--------------------------------------------------------------
  Common
  --------------------------------------------------------------*/
  /* Swpier */

  .swiper-pagination-bullet {
    width: 60px;
    height: 3px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 12px;
  }

  /*--------------------------------------------------------------
  Header
  --------------------------------------------------------------*/
  /*** Header ***/
  .header {
    align-items: flex-start;
    background-image: none !important;

    &__logo {
      position: relative;
      z-index: 2;
    }

    &__menu {
      position: relative;
      width: 94px;
      justify-content: flex-end;
      padding: 24px 0 0;
      margin-right: 30px;
      z-index: 2;

      .action {
        display: none;
      }

      .navbar-moblie {
        display: block;
      }

    }

    &.sticky {
      display: none;
    }
  }

  /*** Navbar Menu ***/
  .navbar-menu {
    &__main {
      display: none;
    }

    &__right {
      display: none;
    }
  }

  /*--------------------------------------------------------------
  Page
  --------------------------------------------------------------*/
  /*** Home Page ***/
}

@include breakpoint(lgmobile) {

  /*--------------------------------------------------------------
  Common
  --------------------------------------------------------------*/
  /* Swpier */
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next,
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    display: none;
  }

  /* Back To Top */
  .back-to-top {

    a {
      right: 15px;
    }
  }

  /*--------------------------------------------------------------
  Header
  --------------------------------------------------------------*/
  /*** Header ***/
  .header {

    &__logo {
      margin-left: 15px;

      .logo-image {
        img {
          width: 174px;
        }
      }
    }

    &__menu {
      margin-right: 15px;
    }
  }

  /*--------------------------------------------------------------
  Page
  --------------------------------------------------------------*/
  /*** Home Page ***/

  /*--------------------------------------------------------------
  Footer
  --------------------------------------------------------------*/
}