$whiteColor: var(--color-white);
$blackColor: var(--color-black);
$baseColor: var(--color-base);
$linkColor: var(--color-link);
$linkHoverColor: var(--color-link-hover);

$primaryColor: var(--color-primary);
$primaryHoverColor: var(--color-primary-hover);

$secondaryColor: var(--color-secondary);
$secondaryHoverColor: var(--color-secondary-hover);

$bgFooterColor: var(--bgColor-footer);


$font-family-base: var(--font-family-montserrat) !default;
$font-family-lato: var(--font-family-lato) !default;

$font-size-base: 16;

$font-weight-thin: var(--font-weight-thin) !default;
$font-weight-extralight: var(--font-weight-extralight) !default;
$font-weight-light: var(--font-weight-light) !default;
$font-weight-normal: var(--font-weight-regular) !default;
$font-weight-medium: var(--font-weight-medium) !default;
$font-weight-semibold: var(--font-weight-semi-bold) !default;
$font-weight-bold: var(--font-weight-bold) !default;
$font-weight-extrabold: var(--font-weight-extrabold) !default;
$font-weight-black: var(--font-weight-black) !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1 !default;