/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer {
  position: relative;
  background-color: $whiteColor;
  
  z-index: 1;

  .newsletter-section {
    position: relative;
    display: flex;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      @include background('../img/gradient_purple_pink.png', center, no-repeat);
      background-size: cover;
      z-index: 2;
    }

    .box-content {
      position: relative;
      @include flexColCenter;
      margin-top: 64.74px;
      margin-bottom: 49px;
      z-index: 3;

      .title {
        position: relative;
        @include fontSize(pxToEm(28), $font-weight-semibold);
        line-height: 35px;
        color: $whiteColor;
        padding-bottom: 5.37px;
        margin-bottom: 33px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: calc(50% - 20px);
          width: 40px;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      .sub-title {
        @include fontSize(pxToEm(20), $font-weight-semibold);
        line-height: 25px;
        color: $whiteColor;
        margin-bottom: 12.95px;
      }

      .form_group {
        margin-bottom: 35px;

        input,
        button {
          font-size: 14px;
        }

        input {
          height: 45px;
          padding-right: 123px;
        }

        button {
          width: auto;
          height: 45px;
          margin: 0;
          padding: 0 32px;
        }
      }

      .social {
        ul {
          @include flexAllCenter;

          li {
            margin-right: 20px;

            &:last-of-type {
              margin: 0;
            }

            a {
              position: relative;
              @include flexAllCenter;
              width: 60px;
              height: 60px;
              border: 1px solid #FFFFFF80;
              @include radius(50%);

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                @include transitionTime(0.4s);
                z-index: 0;
                @include radius(50%);
              }

              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                @include transitionTime(0.4s);
                z-index: 1;
                @include radius(50%);
              }

              i {
                position: relative;
                font-size: 24px;
                color: $whiteColor;
                @include transitionTime(0.4s);
                z-index: 2;
              }

              &:hover {
                text-decoration: none;

                &::before {
                  transform: scale(1.4, 1.4);
                  background-color: #934D9855;
                }

                &::after {
                  transform: scale(1.1, 1.1);
                  background-color: $primaryColor;
                }

                i {
                  transform: scale(1.2, 1.2);
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-content {
    display: inline-block;
    width: 100%;
    background-color: $bgFooterColor;
    margin-bottom: 22px;
  }
}