/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.header {
  position: relative;
  z-index: 99;

  &__logo {
    .logo-image img {
      max-width: 100%
    }
  }
}