@@include('modules/head.html',{
"title": "Home Page",
"class": "home-page",
"menu_n1": "",
"menu_blog": "",
"menu_gtp": "",
    "sub_about": "",
    "sub_cdmo": "",
    "sub_references": "",
"menu_news": "",
"menu_contact": ""
})
@@include('modules/header.html', {
"menu_n1": "",
"menu_blog": "",
"menu_gtp": "",
    "sub_about": "",
    "sub_cdmo": "",
    "sub_references": "",
"menu_news": "",
"menu_contact": ""
})

<div class="content-body">

    <h1>content body</h1>

</div>
@@include('modules/footer.html')