                </main><!-- End Main -->
            </div><!-- End Primary -->

            <footer class="footer">
                <h3>Footer</h3>
            </footer>
        </div><!-- End Wrapper -->

        <script type="text/javascript" src="plugin/vendor.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>

</html>