
<header class="header">
    <div class="header__logo d-flex justify-content-center align-items-center">
        <a class="logo-image" href="index.html" title="" rel="home">
            <img src="img/logo_small.png" alt="">
        </a>
    </div>
</header><!-- End Header -->

<div id="primary">
    <main id="main" class="smd-content-area" role="main">